<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="defaultConnection" connectionString="Data Source=DESKTOP-KQLF513\SQLSERVER2019;Initial Catalog=Northwind;Integrated Security=True" />
  <add name="winSQLClient.Properties.Settings.Connection" connectionString="Data Source=DESKTOP-KQLF513\SQLSERVER2019;Initial Catalog=Northwind;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="winSQLClient.Properties.Settings.Con" connectionString="Data Source=DESKTOP-KQLF513\SQLSERVER2019;Initial Catalog=Northwind;User ID=sa;Password=123456"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>