<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Bank1" connectionString="Server=DESKTOP-KQLF513\SQLSERVER2019;Database=Bank1;Trusted_Connection=True;TrustServerCertificate=True"/>
		<add name="Bank2" connectionString="Server=DESKTOP-KQLF513\SQLSERVER2019;Database=Bank2;Trusted_Connection=True;TrustServerCertificate=True"/>
	</connectionStrings>
</configuration>