<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="constring1" connectionString="Server=.;Database=Bank1;Trusted_Connection=True;TrustServerCertificate=True;"/>
		<add name ="constring2" connectionString="Server=.;Database=Bank2;Trusted_Connection=True;TrustServerCertificate=True;"/>
	</connectionStrings>
</configuration>