<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connStr1" connectionString="Server=DESKTOP-KQLF513\SQLSERVER2019;Database=Northwind;Trusted_Connection=True;TrustServerCertificate=True"/>
		<add name="connStr2" connectionString="Server=DESKTOP-KQLF513\SQLSERVER2019;Database=Northwind1;Trusted_Connection=True;TrustServerCertificate=True"/>
	</connectionStrings>
</configuration>